table,th,td,tr{
    border: solid;
    height: 50px;
    /* width: 50%; */
    text-align: center;
    /* font-size: 15px; */
}
.fin{
    font-size: 80px;
    color: white;
    margin-left: 21%;
    margin-right: 5%;
    /* text-align: center; */
}

#hiphop{

}
body{
    background-color: rgb(58, 55, 55);
    /* border: 20px inset; */
    /* width: fit-content;
    height: fit-content; */
    /* height: 100%;
    width: 100%; */
    margin: 1px;
}
.king{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: -10%;
    color: white;
    word-spacing: 40px;
    font-family: Arial;
    border-radius: 20px;
}
a:link,a:visited{
    text-decoration: none;
    color: white;
    
}
a:hover{
    /* background-color    : greenyellow; */
    color:greenyellow;
    border-radius: 40px;
    /* padding: 10px; */
}
button:hover{
    background-color: greenyellow;
}
.ling{
     padding: 1px  30px;
     border-radius: 40px;
}
/* img{
    margin-left: 17%;
    border-radius: 50%;
} */
.nen{
    text-align: justify; 
    margin-left: 30%;
    margin-right: 20%; 
    color: white;
    font-size: 22px;
}
.lin{
    display: flex;
}
.container {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
    height: 200px;
    width: 200px;
    margin-left: 130%;
    border-radius: 50%;
   }
   
   .text {
     font-size: 50px;
   }
   .kin{
    font-size: 80px;
    color: white;
    margin-left: 27%;
    margin-right: 10%;
    margin-top: -50px;
}
html{
    scroll-behavior: smooth;
}
.jik{
    /* font-size: 35px; */
    margin-left: 17%;
    color: white;
    /* text-decoration: underline; */
    font-family: 'Times New Roman';
}
.hj{
    margin-left: 35%;
    color: white;
    align-items: center;


}
th:hover{
    background-color:rgb(185, 162, 162);
    color: black;
    
}
td:hover{
    background-color: greenyellow;
    color: black;
    
}
.hio{
    color: white;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: -10%;
    /* text-decoration:underline; */
    width: 2;
}
.hio1{
    color: white;
    margin-left:139%;
    margin-top: -42%;
    margin-right: -150%;
    width: 2;
    /* text-decoration: underline; */
}
.hel div{
    margin: 50%;
}
.oi{
    color: white;
    font-size: 20px;
    margin-left: -45%;
    margin-top: 18%;
    width: 45%;
    text-align: left;
    line-height: 30px;
}
.pi{
    color: white;
    font-size: 20px;
    margin-top: -16%;
    margin-left: 18%;
    margin-right: 35%;
    text-align: left;
    line-height: 30px;
}
p:hover{
    text-shadow: 2px 2px 5px blue;
    font-size: 25px;
}
li:hover{
    text-shadow: 2px 2px 5px blue;
}
hr{
    margin: 10%;
}
.u1{
    color: white;
    margin-top: 70%;
    margin-left: 25%;
}
.XII{
    color: white;
    font-size: 20px;
    margin-top: 30%;
    margin-left: -45%;
    margin-right: 100%;
    text-align: left;
    line-height: 30px;
}
.hio2{
    color: white;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: -50%;
    /* text-decoration:underline; */
    width: 2;
}
.hio3{
    color: white;
    margin-left:199%;
    margin-top: -42%;
    margin-right: -210%;
    width: 2;
    /* text-decoration: underline; */
}
.u2{
    color: white;
    margin-top: 110%;
    margin-left: 100px;
    margin-right: -50px;
}
.oi1{
    color: white;
    margin-top:25% ;
    margin-left: -150px;
    font-size: 20px;
    line-height: 30px;

}
.oi2{
    color: white;
    margin-left: 255px;
    margin-top: -70px;
    line-height: 30px;
    font-size: 20px;
}
.tool{
    color: white;
    line-height: 30px;
    font-size: 20px;
    margin-top: 230px;
    margin-left: -150px;
}
.ko{
    font-size: 20px;
    color: white;
    margin-left: 250px;
    margin-top: 70px;
    margin-right: 50%;
    /* text-decoration: none; */
    list-style: none;
    font-size: 23px;
    line-height: 30px;
}
.email{
    color:white;
}